/*********** HEADER **********/
/*********** SLIDER **********/
/************** PRODUCTS PLUS **************/
/********** ITEMS CARDS PRODUCTS GENERAL **********/
/*********** HEADER **********/
/*********** SLIDER **********/
/************** PRODUCTS PLUS **************/
/********** ITEMS CARDS PRODUCTS GENERAL **********/
ul {
  font-size: 14px; }

h2 {
  font-size: 25px;
  font-weight: 600; }

.btn-primary {
  background: #028EED;
  padding: 5px 10px 5px 10px;
  text-align: center;
  font-weight: 400;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease 0.2s;
  -o-transition: all 0.2s ease 0.2s;
  transition: all 0.2s ease 0.2s; }
  .btn-primary:hover {
    border-bottom: 2px solid #D80000; }

/*MODAL IMG*/
#materialbox-overlay {
  background: rgba(0, 0, 0, 0.9) !important;
  font-weight: 700; }

.materialbox-caption {
  padding: 0 !important;
  height: 65px !important; }

.container {
  width: 100%; }
  @media (max-width: 702px) {
    .container {
      width: 100%; } }

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Raleway"), local("Raleway-Regular"), url(https://fonts.gstatic.com/s/raleway/v13/1Ptug8zYS_SKggPNyC0ITw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Merriweather Sans"), local("MerriweatherSans-Regular"), url(https://fonts.gstatic.com/s/merriweathersans/v10/2-c99IRs1JiJN1FRAMjTN5zd9vgsFHX1QjU.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* latin */
@font-face {
  font-family: 'Archivo Black';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Archivo Black Regular"), local("ArchivoBlack-Regular"), url(https://fonts.gstatic.com/s/archivoblack/v8/HTxqL289NzCGg4MzN6KJ7eW6CYyF_g.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* latin */
@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Russo One"), local("RussoOne-Regular"), url(https://fonts.gstatic.com/s/russoone/v7/Z9XUDmZRWg6M1LvRYsHOz8mJ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/*********** HEADER **********/
/*********** SLIDER **********/
/************** PRODUCTS PLUS **************/
/********** ITEMS CARDS PRODUCTS GENERAL **********/
body {
  font-family: "Raleway";
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff; }

/************ HEADER *************/
.header-top {
  background: #000000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 4px;
  font-size: 13px; }
  @media (max-width: 992px) {
    .header-top {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  .header-top .item-one {
    width: 430px;
    margin-left: 20px; }
    @media (max-width: 992px) {
      .header-top .item-one {
        text-align: center; } }
  .header-top .item-two {
    width: 300px;
    margin-right: 20px; }
    @media (max-width: 992px) {
      .header-top .item-two {
        text-align: center; } }
    .header-top .item-two a {
      color: #fff;
      text-decoration: none;
      cursor: pointer; }

.container-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  background: #fff; }
  @media (max-width: 992px) {
    .container-logo {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .container-logo div:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 992px) {
      .container-logo div:first-child {
        width: 100%;
        text-align: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    .container-logo div:first-child img {
      width: 74px; }
    .container-logo div:first-child span {
      font-size: 22px;
      margin-left: 10px;
      font-weight: 900; }
  .container-logo div:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 992px) {
      .container-logo div:last-child {
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    .container-logo div:last-child img {
      width: 120px;
      height: 70px; }

#container-header-desktop nav {
  background: RED;
  color: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  #container-header-desktop nav .sidenav-trigger {
    display: none; }
    @media (max-width: 702px) {
      #container-header-desktop nav .sidenav-trigger {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
  #container-header-desktop nav .nav-wrapper {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #container-header-desktop nav .nav-wrapper ul {
      width: 65%;
      cursor: pointer;
      color: #d6ded9;
      text-decoration: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0; }
      #container-header-desktop nav .nav-wrapper ul li {
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        width: 200px;
        text-align: center; }
        #container-header-desktop nav .nav-wrapper ul li a {
          font-family: "Helvetica Neue";
          font-size: 18px;
          font-weight: 900; }
        #container-header-desktop nav .nav-wrapper ul li:hover {
          background: #FD0000; }

/**************** SLIDER ****************/
@media (max-width: 702px) {
  #container-slider {
    width: 100%;
    margin-top: 0rem; } }

#container-slider .slider .slides li {
  border-bottom: 3px solid #D80000; }
  #container-slider .slider .slides li h3 {
    font-family: "Russo One";
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 800;
    font-size: 45px;
    text-shadow: 2px 1px 2px #000000; }
    @media (max-width: 702px) {
      #container-slider .slider .slides li h3 {
        font-size: 35px; } }
  #container-slider .slider .slides li h5 {
    color: #D80000;
    font-weight: 700;
    font-size: 30px;
    text-shadow: 2px 1px 2px #000000; }
    @media (max-width: 702px) {
      #container-slider .slider .slides li h5 {
        font-size: 25px; } }

.container-categoria-productos {
  width: 100%;
  background: #FD0000;
  padding: 7px; }
  .container-categoria-productos ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: auto;
    width: auto; }
    .container-categoria-productos ul li {
      width: 180px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      margin: 5px;
      padding: 5px; }
      .container-categoria-productos ul li:hover {
        background: rgba(0, 0, 0, 0.6); }
      .container-categoria-productos ul li img {
        width: 120px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: auto; }
      .container-categoria-productos ul li h4 {
        margin: 0;
        font-size: 13px;
        color: #fff;
        text-align: center; }

/************ ARTICLE CENTER *************/
/************* FOOTER **************/
#container-footer .page-footer {
  background: #000000; }
  #container-footer .page-footer .container {
    padding: 10px; }
    #container-footer .page-footer .container .row .col {
      font-size: 15px; }

#container-footer .footer-copyright {
  background: rgba(255, 255, 0, 0.03); }
  #container-footer .footer-copyright .container {
    font-size: 14px; }
    #container-footer .footer-copyright .container a i {
      font-size: 17px;
      color: #D80000; }

/*********** HEADER **********/
/*********** SLIDER **********/
/************** PRODUCTS PLUS **************/
/********** ITEMS CARDS PRODUCTS GENERAL **********/
/************** NOSOTROS ***************/
#container-general {
  width: 90%; }
  @media (max-width: 702px) {
    #container-general {
      width: 95%; } }
  #container-general .row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 1fr;
    grid-template-columns: 30% 1fr;
    grid-gap: 10px; }
    @media (max-width: 902px) {
      #container-general .row {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr; } }
    #container-general .row .card-sidebar-left .card-contact .card-title {
      color: #e3e1e1;
      background: #D80000;
      padding: 5px; }
      #container-general .row .card-sidebar-left .card-contact .card-title i {
        margin: 5px 5px 0 0; }
    #container-general .row .card-sidebar-left .card-contact .card-content ul li {
      font-weight: 900;
      color: rgba(21, 0, 3, 0.97); }
    #container-general .row .card-sidebar-left .card-form-contact .card-title {
      color: #e3e1e1;
      background: #D80000;
      padding: 5px; }
      #container-general .row .card-sidebar-left .card-form-contact .card-title i {
        margin: 5px 5px 0 0; }
    #container-general .row .card-article-right {
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      grid-row: 1/2; }
      #container-general .row .card-article-right .card-nosotros {
        padding: 20px;
        color: #000000; }
        #container-general .row .card-article-right .card-nosotros .title-cards {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          #container-general .row .card-article-right .card-nosotros .title-cards .hr-one {
            height: 2px;
            background: #000000;
            width: 10%; }
          #container-general .row .card-article-right .card-nosotros .title-cards h5 {
            width: auto;
            font-size: 24px;
            font-weight: bold;
            margin-top: 0px;
            margin-left: 10px; }
            #container-general .row .card-article-right .card-nosotros .title-cards h5 span {
              color: #D80000; }
          #container-general .row .card-article-right .card-nosotros .title-cards .hr-two {
            height: 2px;
            background: #000000;
            width: 100%; }
        #container-general .row .card-article-right .card-nosotros .description p {
          text-align: justify; }
        #container-general .row .card-article-right .card-nosotros .img {
          width: 100%;
          height: 400px; }
          #container-general .row .card-article-right .card-nosotros .img img {
            display: block;
            margin: auto;
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover; }

.container-products .row .col:first-child .content-category-product {
  width: 80%;
  margin: auto; }
  @media (max-width: 702px) {
    .container-products .row .col:first-child .content-category-product {
      width: 95%; } }
  .container-products .row .col:first-child .content-category-product .list-category {
    line-height: 30px;
    background: #e8e8e8; }
    .container-products .row .col:first-child .content-category-product .list-category a {
      cursor: pointer;
      font-weight: 800;
      color: #000000;
      -webkit-transition: all 0.1s;
      -o-transition: all 0.1s;
      transition: all 0.1s; }
      .container-products .row .col:first-child .content-category-product .list-category a:hover {
        background: #FD0000;
        color: #fff; }
      .container-products .row .col:first-child .content-category-product .list-category a li {
        cursor: pointer;
        padding: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
        .container-products .row .col:first-child .content-category-product .list-category a li:hover {
          background: #FD0000; }

.container-products .row .col:last-child {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (420px)[2];
  grid-template-rows: repeat(2, 420px);
  grid-gap: 10px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 992px) {
    .container-products .row .col:last-child {
      -ms-grid-columns: (minmax(1fr))[2];
      grid-template-columns: repeat(2, minmax(1fr));
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .container-products .row .col:last-child .item-product {
    margin: auto;
    width: 420px;
    border: 2px solid #e8e8e8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media (max-width: 702px) {
      .container-products .row .col:last-child .item-product {
        width: 100%;
        margin-bottom: 20px; } }
    .container-products .row .col:last-child .item-product .img-product {
      width: 98%; }
      .container-products .row .col:last-child .item-product .img-product img {
        width: 100%;
        height: 100%; }
    .container-products .row .col:last-child .item-product .title-product {
      width: 98%; }
      .container-products .row .col:last-child .item-product .title-product a {
        color: #000000;
        cursor: pointer;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
        .container-products .row .col:last-child .item-product .title-product a:hover {
          color: #D80000; }
        .container-products .row .col:last-child .item-product .title-product a h5 {
          font-size: 20px;
          font-weight: 600; }

/*********** HEADER **********/
/*********** SLIDER **********/
/************** PRODUCTS PLUS **************/
/********** ITEMS CARDS PRODUCTS GENERAL **********/
/************** NOSOTROS ***************/
.card-article-right .card-servicios {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  padding: 20px;
  color: #000000;
  /*******POST*****/ }
  .card-article-right .card-servicios .title-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 900; }
    .card-article-right .card-servicios .title-cards .hr-one {
      height: 2px;
      background: #FD0000;
      width: 10%; }
    .card-article-right .card-servicios .title-cards h5 {
      width: auto;
      font-size: 24px;
      font-weight: bold;
      margin-top: 0px;
      margin-left: 10px; }
      .card-article-right .card-servicios .title-cards h5 span {
        color: #D80000; }
    .card-article-right .card-servicios .title-cards .hr-two {
      height: 2px;
      background: #FD0000;
      width: 100%; }
  .card-article-right .card-servicios .contenido-post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 1rem; }
    @media (max-width: 702px) {
      .card-article-right .card-servicios .contenido-post {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 2rem; } }
    .card-article-right .card-servicios .contenido-post .img-post {
      padding: 10px;
      margin: auto;
      width: 30%; }
      @media (max-width: 702px) {
        .card-article-right .card-servicios .contenido-post .img-post {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          width: 100%;
          height: 200px; } }
      .card-article-right .card-servicios .contenido-post .img-post img {
        display: block;
        margin: auto;
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
        object-fit: contain; }
        @media (max-width: 702px) {
          .card-article-right .card-servicios .contenido-post .img-post img {
            -o-object-fit: cover;
            object-fit: cover; } }
    .card-article-right .card-servicios .contenido-post .description-post {
      margin: 10px;
      width: 70%; }
      @media (max-width: 702px) {
        .card-article-right .card-servicios .contenido-post .description-post {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          width: 100%;
          text-align: justify;
          margin: auto; } }

#container-general .row .card-article-right .content-contact {
  padding: 10px; }
  #container-general .row .card-article-right .content-contact .title-cards h5 {
    font-weight: 900; }
  #container-general .row .card-article-right .content-contact .body-detail-product p {
    font-weight: 800; }
  #container-general .row .card-article-right .content-contact .form-contact-product .form-contact input, #container-general .row .card-article-right .content-contact .form-contact-product .form-contact textarea {
    color: #444444; }

/*********** HEADER **********/
/*********** SLIDER **********/
/************** PRODUCTS PLUS **************/
/********** ITEMS CARDS PRODUCTS GENERAL **********/
/************** CARD PRODUCTS DETAIL ***************/
.container-products-in-detail .container-product-detail {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 1fr;
  grid-template-columns: 30% 1fr; }
  @media (max-width: 702px) {
    .container-products-in-detail .container-product-detail {
      -ms-grid-columns: 100%;
      grid-template-columns: 100%; } }
  .container-products-in-detail .container-product-detail .container-sidebar .content-category-product {
    width: 80%;
    margin: auto; }
    @media (max-width: 702px) {
      .container-products-in-detail .container-product-detail .container-sidebar .content-category-product {
        width: 95%; } }
    .container-products-in-detail .container-product-detail .container-sidebar .content-category-product .list-category {
      line-height: 30px;
      background: #e8e8e8; }
      .container-products-in-detail .container-product-detail .container-sidebar .content-category-product .list-category a {
        cursor: pointer;
        font-weight: 800;
        color: #000000;
        -webkit-transition: all 0.1s;
        -o-transition: all 0.1s;
        transition: all 0.1s; }
        .container-products-in-detail .container-product-detail .container-sidebar .content-category-product .list-category a:hover {
          background: #FD0000;
          color: #fff; }
        .container-products-in-detail .container-product-detail .container-sidebar .content-category-product .list-category a li {
          cursor: pointer;
          padding: 10px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.3);
          -webkit-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s; }
          .container-products-in-detail .container-product-detail .container-sidebar .content-category-product .list-category a li:hover {
            background: #FD0000; }
  .container-products-in-detail .container-product-detail .container-sidebar .content-order-product {
    width: 80%;
    margin: auto; }
    @media (max-width: 702px) {
      .container-products-in-detail .container-product-detail .container-sidebar .content-order-product {
        width: 95%; } }
    .container-products-in-detail .container-product-detail .container-sidebar .content-order-product .form-order {
      -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.34);
      box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.34);
      border: 2px solid #444444;
      border-radius: 5px; }
      .container-products-in-detail .container-product-detail .container-sidebar .content-order-product .form-order h5 {
        color: #fff;
        background: #FD0000;
        width: 100%;
        margin: 0;
        padding: 10px; }
      .container-products-in-detail .container-product-detail .container-sidebar .content-order-product .form-order input, .container-products-in-detail .container-product-detail .container-sidebar .content-order-product .form-order textarea, .container-products-in-detail .container-product-detail .container-sidebar .content-order-product .form-order button {
        margin: 5px 5px 5px 5px; }
  @media (max-width: 702px) {
    .container-products-in-detail .container-product-detail .container-description-product {
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      grid-row: 1 / 2; } }
  .container-products-in-detail .container-product-detail .container-description-product .content-detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    @media (max-width: 702px) {
      .container-products-in-detail .container-product-detail .container-description-product .content-detail {
        margin: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
    .container-products-in-detail .container-product-detail .container-description-product .content-detail .img-detail {
      width: 60%;
      padding: 1rem;
      margin-right: 1rem;
      border: 1px solid #bebebe;
      border-radius: 2px; }
      @media (max-width: 702px) {
        .container-products-in-detail .container-product-detail .container-description-product .content-detail .img-detail {
          width: 97%;
          margin: auto; } }
      .container-products-in-detail .container-product-detail .container-description-product .content-detail .img-detail img {
        width: 80%;
        -o-object-fit: cover;
        object-fit: cover; }
    .container-products-in-detail .container-product-detail .container-description-product .content-detail .title-detail {
      width: 30%; }
      @media (max-width: 702px) {
        .container-products-in-detail .container-product-detail .container-description-product .content-detail .title-detail {
          width: 97%;
          margin: auto; } }
      .container-products-in-detail .container-product-detail .container-description-product .content-detail .title-detail h2 {
        font-size: 25px;
        font-weight: 600; }
  .container-products-in-detail .container-product-detail .container-description-product .container-description {
    width: 97%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    @media (max-width: 702px) {
      .container-products-in-detail .container-product-detail .container-description-product .container-description {
        margin: auto; } }
    .container-products-in-detail .container-product-detail .container-description-product .container-description .title-description {
      font-size: 20px;
      background: #FD0000;
      padding: 0.8rem 3rem 0.8rem 3rem;
      float: left;
      color: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: -0.05rem; }
    .container-products-in-detail .container-product-detail .container-description-product .container-description .content-description {
      width: 100%;
      border: 1px solid #bebebe;
      padding: 10px;
      border-radius: 2px; }
      .container-products-in-detail .container-product-detail .container-description-product .container-description .content-description .img-description {
        width: 100%;
        overflow-x: auto; }
        .container-products-in-detail .container-product-detail .container-description-product .container-description .content-description .img-description img {
          width: 98%; }

/*********** HEADER **********/
/*********** SLIDER **********/
/************** PRODUCTS PLUS **************/
/********** ITEMS CARDS PRODUCTS GENERAL **********/
/************** CARD PRODUCTS DETAIL ***************/
.container-servicio-detail {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 1fr;
  grid-template-columns: 30% 1fr; }
  @media (max-width: 702px) {
    .container-servicio-detail {
      -ms-grid-columns: 100%;
      grid-template-columns: 100%; } }
  @media (max-width: 702px) {
    .container-servicio-detail .card-article-right {
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      grid-row: 1 / 2; } }
  .container-servicio-detail .card-article-right .card-service-detail {
    color: #000000;
    padding: 0; }
    .container-servicio-detail .card-article-right .card-service-detail .title-cards {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%; }
      .container-servicio-detail .card-article-right .card-service-detail .title-cards h5 {
        padding-left: 10px;
        width: auto;
        font-size: 17px;
        font-weight: bold; }
        .container-servicio-detail .card-article-right .card-service-detail .title-cards h5 span {
          color: #D80000; }
    .container-servicio-detail .card-article-right .card-service-detail .header-service-detail {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      height: auto;
      padding: 10px; }
      .container-servicio-detail .card-article-right .card-service-detail .header-service-detail .img-service {
        width: 95%;
        height: 350px;
        margin: auto;
        text-align: center;
        background: #D80000; }
        .container-servicio-detail .card-article-right .card-service-detail .header-service-detail .img-service img {
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
          object-fit: cover;
          border-bottom: 3px solid #D80000;
          border: 1px solid #bebebe; }
    .container-servicio-detail .card-article-right .card-service-detail .body-detail-service {
      padding: 15px;
      font-size: 14px; }
      .container-servicio-detail .card-article-right .card-service-detail .body-detail-service h5 {
        text-align: left; }
      .container-servicio-detail .card-article-right .card-service-detail .body-detail-service p {
        text-align: justify; }
