body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-blend-mode: multiply;
  background: url("https://cdn-html.nkdev.info/goodgames/assets/images/bg-top.png"), rgba(0, 0, 0, 0.7);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

/************ HEADER *************/
#container-header-desktop nav {
  background: #171717;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  #container-header-desktop nav .nav-wrapper {
    width: 90%; }

/**************** SLIDER ****************/
.container-slider {
  margin-top: 2rem; }

/************ PRODUCTS PLUS *************/
#container-item-products-plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  #container-item-products-plus .item {
    width: 370px;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 50px;
    padding: 10px;
    margin: 20px 0px 10px 0px;
    background-color: #232930;
    border: 1px solid #293139;
    border-radius: 4px;
    color: #FFFFFF; }
    #container-item-products-plus .item i {
      margin-right: 30px;
      font-size: 75px; }
    #container-item-products-plus .item span {
      background: #bebebe;
      color: #bebebe;
      border: 1px solid #bebebe; }
    #container-item-products-plus .item div {
      margin-left: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      #container-item-products-plus .item div h5 {
        color: #fff;
        font-size: 25px;
        font-weight: 800; }
      #container-item-products-plus .item div h5:nth-child(2) {
        color: darkred;
        font-size: 25px;
        font-weight: 800; }

/********** CAROUSEL *********/
#container-carousel .card-carousel-product {
  margin-top: 7px;
  background: #232930;
  padding: 5px;
  border-radius: 3px; }
  #container-carousel .card-carousel-product .carousel {
    height: 350px; }
    #container-carousel .card-carousel-product .carousel .carousel-item {
      text-align: center;
      margin: 10px; }
      #container-carousel .card-carousel-product .carousel .carousel-item > img {
        width: 100%;
        height: 200px; }

/************ ARTICLE CENTER *************/
#container-article .row .card-sidebar-left .card {
  background: #232930; }
  #container-article .row .card-sidebar-left .card .card-title {
    background: #293139;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
    color: #f1f8e9;
    padding: 10px; }
  #container-article .row .card-sidebar-left .card .card-1 .card-content ul {
    padding: 0;
    list-style: none; }
    #container-article .row .card-sidebar-left .card .card-1 .card-content ul li {
      border: dashed 1px #bebebe; }
  #container-article .row .card-sidebar-left .card .card-2 .card-content ul {
    list-style: none; }
  #container-article .row .card-sidebar-left .card .card-2 .card-content .row {
    margin-top: 10px; }

#container-article .row .card-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: #232930 !important; }
  #container-article .row .card-products .item {
    background: #232930; }
    #container-article .row .card-products .item .card-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 180px;
      background: rgba(0, 0, 0, 0.17);
      margin: 0px 5px 0px 5px;
      border-radius: 4px;
      padding: 10px;
      margin: 7px; }
      #container-article .row .card-products .item .card-content img {
        width: 100%;
        height: 170px;
        margin: 0;
        -o-object-fit: contain;
        object-fit: contain; }
      #container-article .row .card-products .item .card-content a {
        margin-top: 13px;
        font-size: 19px;
        color: #fff; }

/************* FOOTER **************/
#container-footer .page-footer {
  background: #232930; }

#container-footer .footer-copyright {
  background: rgba(0, 0, 0, 0.17); }

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  font-size: 12px; }

.container-fluid {
  width: 100%; }
