.header-top {
  background: $color-four;
  display: flex;
  justify-content: flex-end;
  color: $color-one;

  .item-one {
    margin: 1vh;
    display: flex;
    font-size: 14px;

    @media(max-width: 992px) {
      flex-wrap: wrap;
      justify-content: flex-end;
    }

    .search {
      //width: 300px;
      height: 25px;
      //background: $color-one;
      border-radius: 4px;
      //background: $color-three;
      margin-right: 30px;
      @media(max-width: 992px) {
        margin-bottom: 1rem;
        //width: 253px;
      }

      a {
        text-decoration: none;
        color: $color-one;
        cursor: pointer;
        @media(max-width: 702px) {
          font-size: 20px;
        }
      }

      input {
        display: none;
        width: 90%;
        height: 100%;
        font-size: 14px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border: none;
      }

      span {
        width: 10%;
        height: 100%;
        background: $color-three;
        @media(max-width: 992px) {
          margin-top: 1rem;
        }
      }
    }

    .icons-link {
      font-size: 20px;

      a {
        text-decoration: none;
        color: $color-one;
        cursor: pointer;

        i {
          margin-right: 20px;
        }
      }
    }
  }
}

header {
  width: 100%;
  height: auto;
  background: $color-one;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-size: 40px;
    color: $color-three;
    margin-left: 2rem;
    cursor: pointer;

    img {
      width: 160px;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;

    li {
      margin: 10px;
      cursor: pointer;

      a {
        color: $color-four;
        font-weight: 700;
      }
    }

    @media(max-width: 992px) {
      display: none;
    }
  }
}

.slider {
  .slides {
    li {
      img {
        background-position: center 0px;
      }
    }
  }
}

.banner-intro {
  color: $color-one;
  background: linear-gradient(top, $color-one 15%, $color-three 11%, $color-three 11%, $color-three 100%) !important;
  @media(max-width: 992px) {
    background: $color-three;
  }

  .img-description {
    img {
      width: 335px;
      height: 450px;
      margin-left: 3rem;
      margin-bottom: -4px;
    }

    @media(max-width: 992px) {
      display: none;
    }
  }

  .description {
    @media(max-width: 992px) {
      margin-top: 2rem;
    }

    .icons-redes {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      flex-direction: column;
      font-size: 27px;
      margin-right: 1rem;
      color: $color-three;
      @media(max-width: 992px) {
        align-items: flex-end;
        margin: 0;
        margin-top: 15px;
        color: $color-three;
      }

      i {
        margin: 5px;
      }

    }
  }

  .text-description {
    margin: 10px;

    .description {
      h2 {
        font-size: 60px;
        margin-bottom: 2rem;
        @media(max-width: 992px) {
          font-size: 43px;
        }
      }

      width: 80%;
      margin-top: 2rem;
      text-align: justify;
      font-size: 18px;
      @media(max-width: 992px) {
        width: auto;
        padding-bottom: 10px;
      }

    }
  }

}


.products {
  .row {
    .title-products {
      display: flex;
      align-items: center;
      width: 100%;

      hr {
        width: 100%;
      }

      h2 {
        margin: 10px 2rem;
        font-size: 30px;
      }
    }

    .content-products {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .item-product {
        border: 1px solid #BEBEBE;
        width: 300px;
        height: 430px;
        margin: 10px;

        .item-img {
          width: 100%;
          height: 310px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .item-title {
          width: 100%;
          height: 60px;
          text-align: center;

          h5 {
            font-size: 20px;
            margin: 5px;
          }
        }

        .item-button {
          width: 100%;
          height: 10%;
          display: flex;
          justify-content: center;
          padding: 5px;

          .btn-ver-product {
            padding: 7px 25px 8px 25px;
            border-radius: 4px;
            background: $color-four;
            color: $color-one;
            text-transform: uppercase;
          }
        }


      }
    }
  }
}

footer {
  background-blend-mode: multiply;
  background: url("../img/otros/natacion.jpeg"), rgba(9, 160, 157, 0.9);
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  padding: 3rem 2rem;
  @media(max-width: 992px) {
    flex-direction: column;
  }

  .title-footer {
    display: flex;
    justify-content: flex-start;
    width: 104px;

    h2 {
      font-size: 50px;
      color: $color-one;
      letter-spacing: 2px;
      transform: rotate(-90deg);
      margin-left: 1rem;
      @media(max-width: 992px) {
        transform: none;
        margin: 0;
        font-size: 30px;
      }
    }
  }

  .item-contacto {
    color: $color-one;
    margin-top: 1rem;

    .form-contacto {
      h2 {
        margin-bottom: 1rem;
      }

      form {
        display: flex;
        flex-direction: column;

        input, textarea {
          width: 290px;
          margin: 5px;
          padding: 5px;
          border: none;
          @media(max-width: 992px) {
            width: 90%;
          }
        }

        input[type="submit"] {
          display: flex;
          justify-content: flex-start;
          margin: 5px;
          background: $color-four;
          padding: 10px;
          width: 100px;
          color: $color-one;
          border: none;
          text-align: center;
        }
      }
    }

    .redes-contacto {
      color: $color-one;
      margin-top: 2vh;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-size: 20px;

      span {
        font-size: 17px;
        margin-top: 5px;

        i {
          margin-top: 10px;
          margin-right: 10px;
          background: $color-four;
          border-radius: 50%;
          padding: 10px 12px;
        }
      }
    }
  }

  .item-ubicanos {
    color: $color-one;
    display: flex;
    flex-direction: column;
    margin: 3rem;
    @media(max-width: 992px) {
      margin: 0;
      margin-top: 3rem;
    }

    .direccion {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;

      p i {
        margin-right: 5px;
      }

      span {
        margin-left: 20px;
      }
    }

    .telefono {
      display: flex;
      flex-direction: column;

      span {
        margin-bottom: 8px;

        i {
          margin-right: 5px;
        }
      }
    }
  }
}

.btn-ir-arriba {
  background: $color-four;
  color: $color-one;
  padding: 20px;
  border-radius: 50%;
  font-size: 15px;
  position: fixed;
  top: 90%;
  left: 95%;
  z-index: 5000;
  cursor: pointer;

  &:hover {
    color: $color-three;
    box-shadow: 2px 2px -1px $color-three;
  }

  @media(max-width: 992px) {
    left: 90%;
  }
  @media(max-width: 702px) {
    left: 80%;
  }
}