$color-white-one: #fff;
$color-gray-one: #444;
$color-gray-two: #232930;
$color-bg-card-one: #232930;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-blend-mode: multiply;
  background: url("https://cdn-html.nkdev.info/goodgames/assets/images/bg-top.png"), rgba(0, 0, 0, 0.7);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/************ HEADER *************/
#container-header-desktop {
  nav {
    background: #171717;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .nav-wrapper {
      width: 90%;
    }
  }
}

/************ PRODUCTS PLUS *************/
#container-item-products-plus {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  .item {
    width: 370px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    padding: 10px;
    margin: 20px 0px 10px 0px;
    background-color: $color-gray-two;
    border: 1px solid #293139;
    border-radius: 4px;
    color: #FFFFFF;

    i {
      margin-right: 30px;
      font-size: 75px;
    }

    span {
      background: #bebebe;
      color: #bebebe;
      border: 1px solid #bebebe;
    }

    div {
      margin-left: 30px;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;

      h5 {
        color: $color-white-one;
        font-size: 25px;
        font-weight: 800;
      }

      h5:nth-child(2) {
        color: darkred;
        font-size: 25px;
        font-weight: 800;
      }
    }
  }
}

/********** CAROUSEL *********/
#container-carousel {

  .card-carousel-product {
    margin-top: 7px;
    background: $color-bg-card-one;
    padding: 5px;
    border-radius: 3px;

    .carousel {
      margin: 10px 10px;
      height: 270px !important;

      .carousel-item {
        text-align: center;
        margin: 10px;

        > img {
          width: 100%;
          height: 200px;
        }
      }
    }
  }
}

/************ ARTICLE CENTER *************/
#container-article {
  .row {
    //Card Left
    .card-sidebar-left {
      .card {
        background: $color-bg-card-one;

        .card-1 {
          .card-content {
            ul {
              list-style: none;
            }
          }
        }

        .card-2 {
          .card-content {
            ul {
              list-style: none;
            }

            .row {
              margin-top: 10px;
            }
          }
        }
      }
    }

    //Card Products general
    .card-products {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      background: $color-bg-card-one !important;

      .item {
        background: $color-bg-card-one;

        .card-content {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          width: 180px;
          background: rgba(0, 0, 0, .17);
          margin: 0px 5px 0px 5px;
          border-radius: 4px;
          padding: 10px;
          margin: 7px;

          img {
            width: 100%;
            height: 170px;
            margin: 0;
            object-fit: contain;
          }

          a {
            margin-top: 13px;
            font-size: 19px;
            color: $color-white-one;
          }
        }
      }
    }
  }
}

/************* FOOTER **************/

#container-footer {
  .page-footer {
    background: $color-gray-two;
  }

  .footer-copyright {
    background: rgba(0, 0, 0, 0.17);
  }
}