
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-blend-mode: multiply;
  background: url("https://cdn-html.nkdev.info/goodgames/assets/images/bg-top.png"), rgba(0, 0, 0, 0.7);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/************ HEADER *************/
#container-header-desktop {
  nav {
    background: #171717;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .nav-wrapper {
      width: 90%;
    }
  }
}

/**************** SLIDER ****************/
#container-slider {
  margin-top: 2rem;

  .slider {
    .slides {
      li {
        border-bottom: 3px solid $color-primary;

        h3 {
          font-weight: 500;
          font-size: 45px;
          text-shadow: 2px 1px 2px #000000;
        }

        h5 {
          font-weight: 500;
          font-size: 30px;
          text-shadow: 2px 1px 2px #000000;
        }
      }
    }
  }
}

/************ PRODUCTS PLUS *************/
#container-item-products-plus {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  .item {
    width: 350px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    padding: 10px;
    margin: 20px 0px 10px 0px;
    background-color: $bgcolor-card-dark;
    border: 1px solid #293139;
    border-radius: 4px;
    color: #FFFFFF;

    i {
      margin-right: 30px;
      font-size: 35px;
    }

    span {
      width: 79px;
      height: 50%;
      border-right: 1px solid #bebebe;
    }

    .text-description {
      margin-left: 39px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      text-align: center;

      h5 {
        margin: 0;
        color: $color-white-default;
        font-size: 20px;
        font-weight: 800;
      }

      h5:nth-child(2) {
        margin: 0;
        color: $color-primary;
        font-size: 25px;
        font-weight: 800;
      }
    }
  }
}

/********** CAROUSEL *********/
#container-carousel {

  .card-carousel-product {
    margin-top: 7px;
    background-blend-mode: multiply;
    background: url("../img/fondo-cards/china.jpg"), radial-gradient(ellipse at center, #000000 0%, #eaeaea 94%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    padding: 5px;
    border-radius: 3px;

    .carousel {
      height: 350px;

      .carousel-item {
        text-align: center;
        margin: 10px;

        h6 {
          color: $color-white-one;
          font-weight: 500;
          font-size: 20px;
        }

        > img {
          width: 100%;
          height: 200px;
        }
      }
    }
  }
}

/************ ARTICLE CENTER *************/
#container-article {
  .row {
    //Card Left
    .card-sidebar-left {
      .card {
        background: $bgcolor-card-dark;

        .card-title {
          display: flex;
          justify-content: flex-start;
          background: #293139;
          font-weight: 500;
          font-size: 17px;
          color: #f1f8e9;
          padding: 10px;

          .material-icons {
            margin-right: 10px;
          }
        }

        .card-1 {
          .card-content {
            ul {
              padding: 0;
              list-style: none;

              li {
                border: dashed 1px #bebebe;
              }
            }
          }
        }

        .card-2 {
          .card-content {
            ul {
              list-style: none;
            }

            .row {
              margin-top: 10px;
            }
          }
        }
      }
    }

    //Card Products general
    .card-products {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      background: $bgcolor-card-dark !important;

      .item {
        background: $bgcolor-card-dark;

        .card-content {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          width: 214px;
          background: $bgcolor-item-product;
          margin: 0px 5px 0px 5px;
          border-radius: 4px;
          padding: 8px;
          margin: 7px;

          div {
            width: 100%;

            img {
              width: 100%;
              height: 170px;
              margin: 0;
              object-fit: cover;
            }
          }

          a {
            margin-top: 13px;
            font-size: 15px;
            color: $color-title-cards-products;
            font-weight: 500;
          }
        }
      }
    }
  }
}

/************* FOOTER **************/

#container-footer {
  .page-footer {
    background: $color-gray-two;
  }

  .footer-copyright {
    background: rgba(0, 0, 0, 0.17);
  }
}