.card-products{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card-products .item{
  width: 240px;
  height: 240px;
  background: #BEBEBE;
  margin: 5px;
}


.container-links-footer .row-links div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-links-footer .row-links div ul{
  display: inline-flex;
  align-items: center;
}
.container-links-footer .row-links div ul li{
  margin: 10px;
}

.container-links-footer .row-links .item{
  text-align: center;
}