/*********** HEADER **********/
/*********** SLIDER **********/
/************** PRODUCTS PLUS **************/
/********** ITEMS CARDS PRODUCTS GENERAL **********/
/**************** FOOTER ******************/
/************** CARD PRODUCTS DETAIL ***************/
.card-article-right .card-products-detail-one {
    background: #293139;
    color: #F0F0F0;
    padding: 0;
}

.card-article-right .card-products-detail-one .title-cards {
    display: flex;
    align-items: center;
    background: rgba(23, 27, 32, 0.91);
    width: 100%;
}

.card-article-right .card-products-detail-one .title-cards h5 {
    padding-left: 10px;
    width: auto;
    font-size: 17px;
    font-weight: bold;
}

.card-article-right .card-products-detail-one .title-cards h5 span {
    color: #DF1216;
}

.card-article-right .card-products-detail-one .header-product-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 250px;
}

.card-article-right .card-products-detail-one .header-product-detail .img-product {
    width: 40%;
    width: 200px;
    margin: auto;
}

.card-article-right .card-products-detail-one .header-product-detail .img-product img {
    width: 100%;
    height: 100%;
}

.card-article-right .card-products-detail-one .header-product-detail .table-description {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

.card-article-right .card-products-detail-one .header-product-detail .table-description table {
    background: #232930;
    margin: auto;
}

.card-article-right .card-products-detail-one .header-product-detail .table-description table tr td {
    margin: auto;
}

.card-article-right .card-products-detail-one .header-product-detail .table-description table tr td a {
    background: #028EED;
    color: #F0F0F0;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    border-radius: 7px;
    width: 100px;
    margin: 5px;
}

.card-article-right .card-products-detail-one .body-detail-product {
    background: #232930;
    padding: 10px;
}

.card-article-right .card-products-detail-one .body-detail-product p {
    text-align: center;
}

.card-article-right .card-products-detail-one .form-contact-product {
    margin: auto;
    padding: 10px;
    width: 80%;
}

.card-article-right .card-products-detail-one .form-contact-product .title-cotizador {
    margin-top: 1rem;
    display: flex;
    text-align: center;
    width: 100%;
}

.card-article-right .card-products-detail-one .form-contact-product .title-cotizador .hr-one {
    height: 2px;
    background: #F0F0F0;
    width: 5%;
}

.card-article-right .card-products-detail-one .form-contact-product .title-cotizador h5 {
    width: auto;
    font-size: 24px;
    font-weight: bold;
    margin-top: -5px;
}

.card-article-right .card-products-detail-one .form-contact-product .title-cotizador h5 span {
    color: #DF1216;
}

.card-article-right .card-products-detail-one .form-contact-product .title-cotizador .hr-two {
    height: 2px;
    background: #F0F0F0;
    width: 40%;
}

.card-article-right .card-products-detail-one .form-contact-product .form-contact {
    margin: 10px;
}

.card-article-right .card-products-detail-one .form-contact-product .form-contact p {
    margin: 0;
}

.card-article-right .card-products-detail-one .form-contact-product .form-contact p input, .card-article-right .card-products-detail-one .form-contact-product .form-contact p textarea {
    color: #fff !important;
}

.card-article-right .card-products-detail-one .form-contact-product .form-contact p button {
    margin-top: 10px;
}

/*# sourceMappingURL=productos_detail.css.map */
