body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  font-size: 12px;
}

button {
  background: #00b0ff;
  color: $color-white-one;
}

input[type=submit] {
  background: #00b0ff;
  color: $color-white-one;
}