$color-primary: #DF1216;
$color-secundary: #DF1216;

$color-white-default: #F0F0F0;
$color-white-one: #fff;

$color-gray-one: #444;
$color-gray-two: #232930;

$color-bg-card-one: #232930;


$color-header-cards: #293139;
$color-body-cards: #232930;