$color-primary: #DF1216;
$color-secundary: #DF1216;

$color-white-default: #F0F0F0;
$color-white-one: #fff;

$color-gray-one: #444;
$color-gray-two: #232930;

$bgcolor-card-dark: #232930;
$bgcolor-card-light: #bebebe;

$bgcolor-item-product: rgba(0, 0, 0, 0.17);


$color-header-cards: #293139;
$color-body-cards: #232930;