@import "variables";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  font-size: 12px;
}

.btn-primary {
  background: $color-terciary;
  padding: 5px 10px 5px 10px;
  text-align: center;
  font-weight: 400;
  border-radius: 4px;
  transition: all 0.2s ease 0.2s;

  &:hover {
    border-bottom: 2px solid $color-primary;
  }
}


