$color-white-default: #d6ded9;

$color-primary: #D80000;
$color-secundary: #ffc620;
$color-terciary: #028EED;
$color-cuartiary: yellow;

$color-black: #000000;

$color-white-one: #fff;

$color-gray-one: #444;
$color-gray-two: #232930;
$color-gray-tree: rgba(23, 27, 32, 0.91);

$bgcolor-cards-body: #252c33;
$bgcolor-card-light: #bebebe;

$bgcolor-card-dark: #1f262e;


//___________________________________________________________________________________________________________________//
/*********** HEADER **********/
$bgcolor-header: #000000;
$color-text: $color-white-default;

/*********** SLIDER **********/
$color-border-bottom-slider: $color-primary;
$color-text1: $color-white-one;
$color-text2: $color-primary;

/************** PRODUCTS PLUS **************/
$color-border-bottom: $color-primary;
$bgcolor-card-product-plus: $bgcolor-card-dark;

/********** ITEMS CARDS PRODUCTS GENERAL **********/
$color-title-cards-one: rgba(21, 0, 3, 0.97);
$color-title-cards-two: #e3e1e1;

$bgcolor-item-product: $color-gray-tree;
$bgcolor-header-cards: $color-gray-tree;
