@import "../components-web/variables";

/************** NOSOTROS ***************/
.card-article-right {
  .card-blog {
    padding: 20px;
    background: $bgcolor-card-dark;
    color: $color-white-default;

    .title-cards {
      display: flex;
      align-items: center;

      .hr-one {
        height: 2px;
        background: $color-white-default;
        width: 5%;
      }

      h5 {
        width: auto;
        font-size: 24px;
        font-weight: bold;
        margin-top: 0px;

        span {
          color: $color-primary;
        }
      }

      .hr-two {
        height: 2px;
        background: $color-white-default;
        width: 55%;
      }
    }

    /*******POST*****/
    .contenido-post {
      display: flex;
      margin-top: 2rem;
      margin-bottom: 1rem;
      @media(max-width: 702px) {
        flex-direction: column;
        margin-bottom: 2rem;
      }

      .img-post {
        padding: 10px;
        margin: auto;
      }

      .description-post {
        padding: 10px;
        margin: auto;
      }

    }
  }
}