#container-general {

  .row {
    .card-article-right {
      .content-contact {
        padding: 10px;

        .title-cards {
          h5 {
            font-weight: 900;
          }
        }

        .body-detail-product {
          p {
            font-weight: 800;
          }
        }

        .form-contact-product {
          .form-contact {
            input, textarea {
              color: #444444 !important;
            }
          }
        }
      }
    }
  }

}