.card {

  .card-article-right {
    .card-products-detail-one {
      .body-detail-product {
        margin-top: 10px;
      }
    }
  }

  .card-article-left {
    .card-1 {
      .card-content {
        padding: 5px;
        margin-left: 5px;
      }
    }
  }
}