@import "../components-web/variables";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-blend-mode: multiply;
  background: url("../../img/fondo/red-dark.png"), rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-position: top;
  background-repeat: repeat;
}

/************ HEADER *************/
#container-header-desktop {
  nav {
    background: $bgcolor-header;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .sidenav-trigger {
      display: none;
      @media (max-width: 702px) {
        display: flex;
      }
    }

    .nav-wrapper {
      width: 90%;

      .brand-logo {
        transform: translateX(-20%);
        margin-top: 4px;
        @media(max-width: 702px) {
          transform: translateX(-71%);
          margin-top: 4px;
        }
      }

      ul {
        cursor: pointer;
        color: $color-text;
        text-decoration: none;

        li {
          a {
            font-size: 14px;
            font-weight: bold;
          }
        }
      }
    }
  }
}

/**************** SLIDER ****************/
#container-slider {
  margin-top: 2rem;
  @media(max-width: 702px) {
    width: 100%;
    margin-top: 0rem;
  }

  .slider {
    .slides {
      li {
        border-bottom: 3px solid $color-border-bottom-slider;

        h3 {
          color: $color-text1;
          font-weight: 500;
          font-size: 45px;
          text-shadow: 2px 1px 2px #000000;
          @media(max-width: 702px) {
            font-size: 35px;
          }
        }

        h5 {
          color: $color-primary;
          font-weight: 500;
          font-size: 30px;
          text-shadow: 2px 1px 2px #000000;
          @media(max-width: 702px) {
            font-size: 25px;
          }
        }
      }
    }
  }
}

/************ PRODUCTS PLUS *************/
#container-item-products-plus {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  .item {
    width: 30%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    margin: 20px 5px 10px 5px;
    background-color: $bgcolor-card-dark;
    border-bottom: 2px solid $color-border-bottom;
    border-radius: 4px;
    color: #FFFFFF;

    @media(max-width: 702px) {
      width: 100%;
    }

    i {
      margin-right: 30px;
      font-size: 35px;
    }

    span {
      width: 79px;
      height: 50%;
      border-right: 1px solid #bebebe;
    }

    .text-description {
      margin-left: 39px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      text-align: center;

      h5 {
        margin: 0;
        color: $color-white-default;
        font-size: 20px;
        font-weight: 800;
      }

      h5:nth-child(2) {
        margin: 0;
        color: $color-primary;
        font-size: 25px;
        font-weight: 800;
      }
    }
  }
}

/********** CAROUSEL *********/
#container-carousel {

  .card-carousel-product {
    margin-top: 7px;
    background-blend-mode: multiply;
    background: url("../../img/fondo-cards/china.jpg"), radial-gradient(ellipse at center, #000000 0%, #eaeaea 94%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    padding: 5px;
    border-radius: 3px;

    .carousel {
      height: 350px;

      .carousel-item {
        text-align: center;
        margin: 10px;

        h6 {
          color: $color-white-one;
          font-weight: 500;
          font-size: 20px;
        }

        > img {
          width: 100%;
          height: 200px;
        }
      }
    }
  }
}

/************ ARTICLE CENTER *************/
#container-article {
  .row {
    //Card Left
    .card-sidebar-left {
      .card {
        background: $bgcolor-card-dark;

        .card-title {
          display: flex;
          justify-content: flex-start;
          background: $bgcolor-header-cards;
          font-weight: 500;
          font-size: 17px;
          color: #f1f8e9;
          padding: 10px;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;

          .material-icons {
            margin-right: 10px;
            color: $color-primary;
          }
        }

        .card-1 {
          .card-content {
            ul {
              list-style: none;

              li {
                border: dashed 1px #bebebe;
              }
            }
          }
        }

        .card-2 {
          .card-content {
            ul {
              list-style: none;
            }
          }
        }

        .card-3 {
          .row {
            padding: 10px;
            color: $color-white-one;

            .form-contact {
              margin: auto;
              width: 80%;
              height: 400px !important;
              color: #fff !important;

              input {
                color: #fff !important;
                padding: 0;
                margin: 0;
                height: 1rem !important;
              }

              textarea {
                color: #fff !important;
                padding: 0;
                margin: 0;
              }

              button {
                margin-top: 10px;
              }
            }
          }
        }
      }
    }

    //Card Products general
    .card-products {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      background: $bgcolor-card-dark !important;

      .item {
        background: $bgcolor-card-dark;

        .card-content {
          display: flex;
          justify-content: center;
          flex-direction: column;
          width: 200px;
          background-image: linear-gradient(to bottom, #252525, #1f1f1f, #1a1a1a, #141414, #0d0d0d, #0d0d0d, #0d0d0d, #0d0d0d, #141414, #1a1a1a, #1f1f1f, #252525);
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
          margin: 10px;
          border-radius: 7px;
          padding: 0px;

          div {
            width: 100%;
            height: 110px;
            background: $color-white-one;
            border-top-right-radius: 7px;
            border-top-left-radius: 7px;

            img {
              width: 100%;
              height: 100%;
              margin: 0;
              object-fit: contain;
            }
          }

          a {
            margin-top: 13px;
            font-size: 13px;
            color: $color-title-cards-products;
            font-weight: 500;
            text-align: center;
            padding-bottom: 7px;
          }

          .div-button {
            a {
              width: 40%;
              font-size: 14px;
              background-color: $color-white-one;
              color: $color-primary;
              border-radius: 3px;
              outline: none;
              text-align: center;
              float: right;
              padding: 5px;
              cursor: pointer;
              font-weight: 500;
              line-height: 14px;
              border: solid 1px $color-primary;
              margin: 10px;

              &:hover {
                color: $color-white-one;
                border: none;
                font-weight: 700;
                padding: 6px;
                background-color: $color-primary;
              }
            }
          }
        }
      }
    }
  }
}

/************* FOOTER **************/
#container-footer {

  .page-footer {
    background: $color-gray-two;

    .container {
      .row {
        .col {
          font-size: 15px;

        }
      }
    }
  }

  .footer-copyright {
    background: rgba(0, 0, 0, 0.17);

    .container {
      font-size: 14px;

      a {
        i {
          font-size: 17px;
          color: $color-primary;
        }
      }
    }
  }
}