@import "../components-web/variables";

/************** NOSOTROS ***************/
#container-general {
  width: 90%;
  @media(max-width: 702px) {
    width: 95%;
  }

  .row {
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-gap: 10px;
    @media(max-width: 902px) {
      grid-template-columns: 1fr;
    }

    .card-sidebar-left {
      .card-contact {
        .card-title {
          i {
            margin: 5px 5px 0 0;
          }

          color: $color-title-cards-two;
          background: $color-primary;
          padding: 5px;
        }

        .card-content {
          ul {
            li {
              font-weight: 900;
              color: $color-title-cards-one;
            }
          }
        }
      }

      .card-form-contact {
        .card-title {
          i {
            margin: 5px 5px 0 0;
          }

          color: $color-title-cards-two;
          background: $color-primary;
          padding: 5px;
        }

        .form-contact {

        }
      }
    }


    .card-article-right {
      @media(max-width: 902px) {
        grid-row: 1/2;
      }

      .card-nosotros {
        padding: 20px;
        color: $color-black;

        .title-cards {
          display: flex;
          align-items: center;

          .hr-one {
            height: 2px;
            background: $color-black;
            width: 10%;
          }

          h5 {
            width: auto;
            font-size: 24px;
            font-weight: bold;
            margin-top: 0px;
            margin-left: 10px;

            span {
              color: $color-primary;
            }
          }

          .hr-two {
            height: 2px;
            background: $color-black;
            width: 100%;
          }
        }

        .description {
          p {
            text-align: justify;
          }
        }

        .img {
          width: 100%;
          height: 400px;

          img {
            display: block;
            margin: auto;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

}