/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Raleway"), local("Raleway-Regular"), url(https://fonts.gstatic.com/s/raleway/v13/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Raleway", sans-serif; }

.header-top {
  background: #0C1064;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  color: #ffffff; }
  .header-top .item-one {
    margin: 1vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px; }
    @media (max-width: 992px) {
      .header-top .item-one {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end; } }
    .header-top .item-one .search {
      height: 25px;
      border-radius: 4px;
      margin-right: 30px; }
      @media (max-width: 992px) {
        .header-top .item-one .search {
            margin-bottom: 1rem;
        }
      }

.header-top .item-one .search a {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

@media (max-width: 702px) {
    .header-top .item-one .search a {
        font-size: 20px;
    }
}
      .header-top .item-one .search input {
          display: none;
        width: 90%;
        height: 100%;
        font-size: 14px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border: none; }
      .header-top .item-one .search span {
        width: 10%;
        height: 100%;
        background: #00C5E8; }
        @media (max-width: 992px) {
          .header-top .item-one .search span {
            margin-top: 1rem; } }
    .header-top .item-one .icons-link {
      font-size: 20px; }

.header-top .item-one .icons-link a {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

.header-top .item-one .icons-link a i {
    margin-right: 20px;
}

header {
  width: 100%;
  height: auto;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  header .logo {
    font-size: 40px;
    color: #00C5E8;
    margin-left: 2rem;
    cursor: pointer; }
    header .logo img {
      width: 160px; }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-right: 2rem; }
    header ul li {
      margin: 10px;
      cursor: pointer; }

header ul li a {
    color: #0C1064;
    font-weight: 700;
}
    @media (max-width: 992px) {
      header ul {
        display: none; } }

.slider .slides li img {
  background-position: center 0px; }

.banner-intro {
  color: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #ffffff), color-stop(11%, #00C5E8), color-stop(11%, #00C5E8), to(#00C5E8)) !important;
    background: -webkit-linear-gradient(top, #ffffff 15%, #00C5E8 11%, #00C5E8 11%, #00C5E8 100%) !important;
    background: -o-linear-gradient(top, #ffffff 15%, #00C5E8 11%, #00C5E8 11%, #00C5E8 100%) !important;
    background: linear-gradient(top, #ffffff 15%, #00C5E8 11%, #00C5E8 11%, #00C5E8 100%) !important;
}
  @media (max-width: 992px) {
    .banner-intro {
      background: #00C5E8; } }
  .banner-intro .img-description img {
      width: 335px;
    height: 450px;
    margin-left: 3rem;
    margin-bottom: -4px; }
  @media (max-width: 992px) {
    .banner-intro .img-description {
      display: none; } }

@media (max-width: 992px) {
    .banner-intro .description {
        margin-top: 2rem;
    }
}
  .banner-intro .description .icons-redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 27px;
    margin-right: 1rem;
    color: #00C5E8; }
    @media (max-width: 992px) {
      .banner-intro .description .icons-redes {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        margin: 0;
        margin-top: 15px;
          color: #00C5E8;
      }
    }
    .banner-intro .description .icons-redes i {
      margin: 5px; }
  .banner-intro .text-description {
    margin: 10px; }
    .banner-intro .text-description .description {
      width: 80%;
      margin-top: 2rem;
      text-align: justify;
      font-size: 18px; }
      .banner-intro .text-description .description h2 {
        font-size: 60px;
        margin-bottom: 2rem; }
        @media (max-width: 992px) {
          .banner-intro .text-description .description h2 {
            font-size: 43px; } }
      @media (max-width: 992px) {
        .banner-intro .text-description .description {
          width: auto;
          padding-bottom: 10px; } }

.products .row .title-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }
  .products .row .title-products hr {
    width: 100%; }
  .products .row .title-products h2 {
    margin: 10px 2rem;
    font-size: 30px; }

.products .row .content-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .products .row .content-products .item-product {
    border: 1px solid #BEBEBE;
    width: 300px;
    height: 430px;
    margin: 10px; }
    .products .row .content-products .item-product .item-img {
      width: 100%;
      height: 310px; }
      .products .row .content-products .item-product .item-img img {
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
        object-fit: contain; }
    .products .row .content-products .item-product .item-title {
      width: 100%;
      height: 60px;
      text-align: center; }
      .products .row .content-products .item-product .item-title h5 {
        font-size: 20px;
        margin: 5px; }
    .products .row .content-products .item-product .item-button {
      width: 100%;
      height: 10%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 5px; }
      .products .row .content-products .item-product .item-button .btn-ver-product {
        padding: 7px 25px 8px 25px;
        border-radius: 4px;
        background: #0C1064;
        color: #ffffff;
        text-transform: uppercase; }

footer {
  background-blend-mode: multiply;
  background: url("../img/otros/natacion.jpeg"), rgba(9, 160, 157, 0.9);
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 3rem 2rem; }
  @media (max-width: 992px) {
    footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  footer .title-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 104px; }
    footer .title-footer h2 {
      font-size: 50px;
      color: #ffffff;
      letter-spacing: 2px;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      margin-left: 1rem; }
      @media (max-width: 992px) {
        footer .title-footer h2 {
          -webkit-transform: none;
          -ms-transform: none;
          transform: none;
          margin: 0;
          font-size: 30px; } }
  footer .item-contacto {
    color: #ffffff;
    margin-top: 1rem; }
    footer .item-contacto .form-contacto h2 {
      margin-bottom: 1rem; }
    footer .item-contacto .form-contacto form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      footer .item-contacto .form-contacto form input, footer .item-contacto .form-contacto form textarea {
        width: 290px;
        margin: 5px;
        padding: 5px;
        border: none; }
        @media (max-width: 992px) {
          footer .item-contacto .form-contacto form input, footer .item-contacto .form-contacto form textarea {
            width: 90%; } }
      footer .item-contacto .form-contacto form input[type="submit"] {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin: 5px;
        background: #0C1064;
        padding: 10px;
        width: 100px;
        color: #ffffff;
        border: none;
        text-align: center; }
    footer .item-contacto .redes-contacto {
      color: #ffffff;
      margin-top: 2vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      font-size: 20px; }
      footer .item-contacto .redes-contacto span {
        font-size: 17px;
        margin-top: 5px; }
        footer .item-contacto .redes-contacto span i {
          margin-top: 10px;
          margin-right: 10px;
          background: #0C1064;
          border-radius: 50%;
          padding: 10px 12px; }
  footer .item-ubicanos {
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 3rem; }
    @media (max-width: 992px) {
      footer .item-ubicanos {
        margin: 0;
        margin-top: 3rem; } }
    footer .item-ubicanos .direccion {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 2rem; }
      footer .item-ubicanos .direccion p i {
        margin-right: 5px; }
      footer .item-ubicanos .direccion span {
        margin-left: 20px; }
    footer .item-ubicanos .telefono {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      footer .item-ubicanos .telefono span {
        margin-bottom: 8px; }
        footer .item-ubicanos .telefono span i {
          margin-right: 5px; }

.btn-ir-arriba {
    background: #0C1064;
    color: #ffffff;
    padding: 20px;
    border-radius: 50%;
    font-size: 15px;
    position: fixed;
    top: 90%;
    left: 95%;
    z-index: 5000;
    cursor: pointer;
}

.btn-ir-arriba:hover {
    color: #00C5E8;
    -webkit-box-shadow: 2px 2px -1px #00C5E8;
    box-shadow: 2px 2px -1px #00C5E8;
}

@media (max-width: 992px) {
    .btn-ir-arriba {
        left: 90%;
    }
}

@media (max-width: 702px) {
    .btn-ir-arriba {
        left: 80%;
    }
}
